.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.plus1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.submitBtn{
    background-color: #ffa500;
    width: 40px;
    height: 40px;
    border: none;
}

.plus,
.minus,
.umnoj,
.delenie{
    width: 40px;
    height: 40px;
    border: none;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.input1,
.input2{
    height: 30px;
    width: 270px;
    margin-top: 20px;
}